* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: "Lato", Georgia, Times, 'Times New Roman', serif;

}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.portfolio {
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio h2 {
    padding: 69px 0 27px 40px;
    font-size: 3rem;
    line-height: 1.8rem;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
}
.portfolio>p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    color: #767e9e;
    padding: 0 40px 10px;

}
.portfolio__navigation {
    padding-left: 40px;
    width: 290px;
    display: flex;
    justify-content: space-between;

}
.portfolio__navigation-item button {
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    padding: 0px 7px;
    color: #767e9e;
    font-size: 1.2rem;
    line-height: 2.0rem;
    font-weight: 400;
    outline: none;
}
.portfolio__navigation-item button:hover {
    border: 1px solid #dedede;
    color: #dedede;
    cursor: pointer;
}

.portfolio__gallery {
    padding: 20px 40px 0;
    max-height: 601px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 18px;
    overflow: hidden;
}

.portfolio__gallery img {
    max-width: 220px;
    max-height: 187px; 
    background-size: cover;
}

/* =================   ABOUT US ============== */

.about-us {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.about-us h2 {
    padding: 69px 0 27px 40px;
    font-size: 3rem;
    line-height: 1.8rem;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
}

.about-us > p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    color: #767e9e;
    padding: 0 40px 10px;
    text-align: justify;
}

.three-column-layout {
    padding: 36px 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.three-column-layout .name {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666d89;
    font-weight: 900;
    padding-top: 16px;
    letter-spacing: -0.1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.three-column-layout .description {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-weight: 400;
    padding-top: 10px;
    text-align: justify;
    letter-spacing: 0.8px;
    max-width: 300px;
}
.social-media {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    max-width: 150px;
    padding-top: 23px;
    gap: 6px;
}

.social-media-item {
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 50%;
}

.facebook  {
    background-image: url(./assets/img/social_media/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.facebook:hover {
    border: 2px solid #000;
    background-image: url(./assets/img/social_media/facebook.svg);
}

.google {
    background-image: url(./assets/img/social_media/google+.png);
    background-repeat: no-repeat;
    background-position: center;
}

.google:hover {
    border: 2px solid #000;
    background-image: url(./assets/img/social_media/google+.svg);
}

.twitter {
    background-image: url(./assets/img/social_media/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.twitter:hover {
    border: 2px solid #000;
    background-image: url(./assets/img/social_media/twitter.svg);
}

.linkedin {
    background-image: url(./assets/img/social_media/linkedin.png);
    background-repeat: no-repeat;
    background-position: center;
}

.linkedin:hover {
    border: 2px solid #000;
    background-image: url(./assets/img/social_media/linkedin.svg);
}